@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Croissant One", serif;
}
body{
     display: grid;
     place-content: center;
     height: 100vh;
     width: 100vw;
     overflow: hidden;
     background: rgb(75, 75, 243);
}
